<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Eventful</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
            <span class="welcomeMessage"> WELCOME {{first}} {{last}}!</span>
            <span id="user_id">{{user_id}}</span>
        </div>
    </div>
</nav>

<div class="homeContainer">
    <header>
        <div class="modify-buttons">
            <a href="/update_event/{{event.id}}">
                <p class="gobtn" data-id={{event.id}} id="updEntry">
                    <i class="far fa-edit"></i>
                </p>
            </a>
            <a href="/thisEvent/{{event.id}}">
                <p class="gobtn" data-id={{event.id}} id="delEntry">
                    <i class="far fa-trash-alt"></i>
                </p>
            </a>
        </div>
    </header>
    <div class="eventDisplayInfo">
        <h2 class="eventInfo">Event: {{event.event_name}}</h2>
        <p>Location: {{event.location}}</p>
        <p>Date: {{formatDate event.event_date "MM/DD/YYYY"}}</p>
        <p>Time: {{formatTime event.start_time}} - {{formatTime event.end_time}}</p>
    </div>
    <hr class="listItems">
    <div>
        <h2 class="eventItemInfo">Items Needed 
        <span class="guestbtn addItem showItem">
            <i class="fas fa-plus smallIcon"></i> ITEM </span> </h2>
        <div class="form-group items">
            {{#each items}}
                <div class="form-input line">
                    <input type="checkbox" id="upItemStatus" data-id={{this.id}} name="item">
                    <label class="label-control" for="item">
                        <h4 class="name">{{this.item_name}} <span class="delete_btn" data-id={{this.id}} id="delItem"><i class="fas fa-times smallIcon"></i></span> </h4> 
                    </label>
                    <p class="quantity">Quantity: {{this.quantity}}</p>
                </div>
            {{else}}
                <p>You have no items yet. Click the "+ Item" to add an item!</p>
            {{/each}}
            <hr class="listItems">
        </div>
    </div>

    <div id="itemDIV" role="dialog" style="display:none" class="create-event none">
        <div class="modal-dialog">
            <div class="modal-content">      
                <div id="close" class="guestbtn addItem closeItem"> </div>
                <form class="form-item-event" id="create-item-form" data-id={{event.id}} name="create-item">
                    <h2 class="form-heading">Item</h2>
                    <label for="item_name">
                        <h5>What is the item?</h5>
                    </label>
                    <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Name of Item" required="" autofocus=""/>
                    
                    <h2 class="form-heading">Quantity</h2>
                    <label for="quantity">
                        <h5>How many are needed?</h5>
                    </label>
                    <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Number Needed" required="" autofocus=""/>

                    <button class="btn btn-lg btn-primary btn-block submitGuest" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <h2 class="eventGuestInfo">Guests 
        <span class="guestbtn addGuest showGuest">
        <i class="fas fa-plus smallIcon"></i> GUEST <span></h2>

        <ul class="eventsUl">
            {{#each guests}}
            <li class="eventsUl">
                <h4 class="name">{{this.guest_name}} <span class="delete_btn" data-id={{this.id}} id="delGuest"><i class="fas fa-times smallIcon"></i></span> </h4>
                <p class="contact">Contact: {{this.contact}} </p>
            </li>
            <hr class="listItems">
            {{else}}
            <p>You have no guests yet. Click the "+ Guest" to add guests!</p>
            {{/each}}
        </ul>
    </div>

    <div id="inputDIV" role="dialog" style="display:none" class="create-item none">
        <div class="modal-dialog">
            <div class="modal-content">  
                <div id="close" class="guestbtn addGuest closeGuest"> </div>
                <form class="form-guest-event" id="create-guest-form" data-id={{event.id}} name="create-guest">
                    <h2 class="form-heading">Guest Name</h2>
                    <label for="guest-name">
                        <h5>What is the name of the guest you will like to add?</h5>
                    </label>
                    <input type="text" class="form-control" id="guest_name" name="guest_name-name" placeholder="Name of Guest" required="" autofocus=""/>
                    <h2 class="form-heading">Contact Information</h2>
                    <label for="contact">
                        <h5>What is the contact information of the guest?</h5>
                    </label>
                    <input type="text" class="form-control" id="contact" name="contact" placeholder="Phone Number" required="" autofocus=""/>

                    <button class="btn btn-lg btn-primary btn-block submitGuest" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('.addGuest').on('click', function () {
            if ($('#inputDIV').hasClass('none')) {
                $('.closeGuest').html("<i class='fas fa-times'></i>");
                $(".showGuest").html("");
                $('#inputDIV').css('display', 'block');
                $('#inputDIV').removeClass('none');
                $('#inputDIV').addClass('block');
            } else {
                $('.showGuest').html("<i class='fas fa-plus smallIcon'></i> GUEST");
                $(".closeGuest").html("");
                $('#inputDIV').css('display', 'none');
                $('#inputDIV').removeClass('block');
                $('#inputDIV').addClass('none');
            }
        });

        $('#upItemStatus').on('click', function () {
            if (this.checked = true) {
                this.removeAttribute("checked"); 
            } else {
                this.setAttribute("checked", "checked");
            }
        });

        $('.addItem').on('click', function () {
            if ($('#itemDIV').hasClass('none')) {
                $(".closeItem").html("<i class='fas fa-times'></i>");
                $(".showItem").html("");
                $('#itemDIV').css('display', 'block');
                $('#itemDIV').removeClass('none');
                $('#itemDIV').addClass('block');
            } else {
                $('.showItem').html("<i class='fas fa-plus smallIcon'></i> ITEM");
                $(".closeItem").html("");
                $('#itemDIV').css('display', 'none');
                $('#itemDIV').removeClass('block');
                $('#itemDIV').addClass('none');
            }
        });        

    </script>

</div>