<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Event App</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <span class="welcomeMessage"> WELCOME {{first}} {{last}}! ID:</span><span id="user_id">{{user_id}}</span>
        </div>
    </div>
</nav>

<div class="homeContainer">

    <h1>{{event_name}}</h1> 

    <div class="eventDisplayInfo">
        <h3>Location: {{location}}</h3>
        <h3>Time: {{start_time}} - {{end_time}}</h3>
        <h3>Guests:</h3>
        <ul>
        {{#each guests}}
            <h3>{{guest_name}} : {{item_name}}</h3>
        {{/each}}
        </ul>
    </div>

</div>



