<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Eventful</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
            <span class="welcomeMessage"> WELCOME {{first}} {{last}}!</span>
            <span id="user_id">{{user_id}}</span>
        </div>
    </div>
</nav>

<div class="homeContainer">

    <header>
        <div class="modify-buttons">
            <a href="/update_event/{{event.id}}">
                <p class="gobtn" data-id={{event.id}} id="updEntry">
                    <i class="far fa-edit"></i>
                </p>
            </a>
            <a href="/thisEvent/{{event.id}}">
                <p class="gobtn" data-id={{event.id}} id="delEntry">
                    <i class="far fa-trash-alt"></i>
                </p>
            </a>
        </div>
    </header>

    <div class="eventDisplayInfo">

        <h2 class="eventInfo">Event: {{event.event_name}}</h2>
        <p>Location: {{event.location}}</p>
        <p>Date: {{formatDate event.event_date "MM/DD/YYYY"}}</p>
        <p>Time: {{formatTime event.start_time}} - {{formatTime event.end_time}}</p>
    </div>

        <hr class="listItems">

    <div>
        <h2 class="eventItemInfo">Items Needed 
        <span id="addItem" class="guestbtn">
            <i class="fas fa-plus smallIcon"></i> ITEM </span> </h2>

        <div id="itemDIV" style="display:none" class="create-event hidden">
            <form class="form-item-event" id="create-item-form" data-id={{event.id}} name="create-item">
                <h2 class="form-event-heading">Item</h2>
                <label for="item_name">
                    <h5>What is the item?</h5>
                </label>
                <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Name of Item" required="" autofocus=""/>

                <h2 class="form-event-heading">Quantity</h2>
                <label for="quantity">
                    <h5>How many are needed?</h5>
                </label>
                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Number Needed" required="" autofocus=""/>

                <button class="btn btn-lg btn-primary btn-block submitGuest" type="submit">Submit Item</button>
            </form>
        </div>

        <ul class="eventsUl">
            {{#each items}}
            <li class="eventsUl">
                <h4 class="name">{{this.item_name}} <span class="delete_btn" data-id={{this.id}} id="delItem"><i class="fas fa-times smallIcon"></i></span> </h4> 
                <p class="quantity">Quantity: {{this.quantity}}</p>
            </li>
            <hr class="listItems">
            {{else}}
            <p>You have no items yet. Click the "+ Item" to add an item!</p>
            {{/each}}
        </ul>
    </div>

    <div>
        <h2 class="eventGuestInfo">Guests <span id="addGuest" class="guestbtn">
            <i class="fas fa-plus smallIcon"></i> GUEST <span></h2>
        

        <div id="inputDIV" style="display:none" class="create-event hidden">
            <form class="form-guest-event" id="create-guest-form" data-id={{event.id}} name="create-guest">
                <h2 class="form-event-heading">Input Guest Information</h2>
                <label for="guest-name">
                    <h5>What is the name of the guest you will like to add?</h5>
                </label>
                <input type="text" class="form-control" id="guest_name" name="guest_name-name" placeholder="Name of Guest" required="" autofocus=""
                />

                <label for="contact">
                    <h5>What is the contact information of the guest?</h5>
                </label>
                <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact Information" required="" autofocus=""
                />

                <button class="btn btn-lg btn-primary btn-block submitGuest" type="submit">Submit Guest</button>
            </form>
        </div>

        <ul class="eventsUl">
            {{#each guests}}
            <li class="eventsUl">
                <h4 class="name">{{this.guest_name}} <span class="delete_btn" data-id={{this.id}} id="delGuest"><i class="fas fa-times smallIcon"></i></span> </h4>
                <p class="contact">Contact: {{this.contact}} </p>
            </li>
        <hr class="listItems">
        {{else}}
            <p>You have no guests yet. Click the "+ Guest" to add guests!</p>
            {{/each}}
        </ul>
    </div>

    <script>
        $('#addGuest').on('click', function () {
            if ($('#inputDIV').hasClass('hidden')) {
                $(this).html("<i class='fas fa-times'></i> CLOSE");
                $('#inputDIV').css('display', 'block');
                $('#inputDIV').removeClass('hidden');
                $('#inputDIV').addClass('show');
            } else {
                $(this).html("<i class='fas fa-plus'></i> GUEST");
                $('#inputDIV').css('display', 'none');
                $('#inputDIV').removeClass('show');
                $('#inputDIV').addClass('hidden');
            }
        });

        $('#addItem').on('click', function () {
            if ($('#itemDIV').hasClass('hidden')) {
                $(this).html("<i class='fas fa-times'></i> CLOSE");
                $('#itemDIV').css('display', 'block');
                $('#itemDIV').removeClass('hidden');
                $('#itemDIV').addClass('show');
            } else {
                $(this).html("<i class='fas fa-plus'></i> ITEM");
                $('#itemDIV').css('display', 'none');
                $('#itemDIV').removeClass('show');
                $('#itemDIV').addClass('hidden');
            }
        });

    </script>

</div>