<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Event App</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <span class="welcomeMessage"> WELCOME {{first}} {{last}}!</span><span id="user_id">{{user_id}}</span>
        </div>
    </div>
</nav>

<div class="homeContainer">

    <header>     
        <div class="modify">
            <p class="gobtn"><a href="/#"> Edit Event <i class="fas fa-edit"></i> </a></p>
        </div>
    </header>

    <div class="eventDisplayInfo">
      
        <h2 class="eventInfo">Event: {{event.event_name}}</h2> 
        <h3>Location: {{event.location}}</h3>
        <h3>Date: {{formatDate event.event_date "MM/DD/YYYY"}}</h3>
        <h3>Time: {{event.start_time}} - {{event.end_time}}</h3>

    <p id="addGuest" class="gobtn"> <i class="fas fa-plus"></i> GUEST </p>

        <div id="inputDIV" style="display:none" class="create-event hidden">
         <form class="form-create-event" id="create-event-form" name="create-event" method="POST" action="/#">       
             <h2 class="form-event-heading">Input Guest Information</h2>
             <label for="guest_name"><h5>What is the name of the guest you will like to add?</h5></label>
             <input type="text" class="form-control" id="guest_name" name="guest_name-name" placeholder="Name of Guest" required="" autofocus="" />
             
             <label for="guest-contact"><h5>What is the contact information of the guest?</h5></label>
             <input type="text" class="form-control" id="guest-contact" name="guest-contact" placeholder="Contact Information" required="" autofocus="" />
      
             <button class="btn btn-lg btn-primary btn-block submitGuest" type="submit">Submit Guest</button>   
         </form>
        </div>

    </div>



    <div>
        <h2 class="eventGuestInfo">Your Guests</h2>
        <ul class="eventsUl">    
            {{#each guests}}
                <li class="eventsUl">
                    <h3 class="name">{{this.guest_name}}: {{this.item_name}} </h3>
                    <p class="contact">{{this.contact}} </p>
                </li>
            {{else}}
                <p>You have no guests yet. Please click the "Add Guest" to add guests!</p>
            {{/each}}
        </ul>
    </div>

    <script>
$('#addGuest').on('click', function() {
  if($('#inputDIV').hasClass('hidden')) {
     $(this).html("<i class='fas fa-times'></i>");
    $('#inputDIV').css('display', 'block');
    $('#inputDIV').removeClass('hidden');
    $('#inputDIV').addClass('show');
     } else {
     $(this).html("<i class='fas fa-plus'></i> GUEST");
    $('#inputDIV').css('display', 'none');
  $('#inputDIV').removeClass('show');
    $('#inputDIV').addClass('hidden');     
   } 
});

</script>

</div>








